@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  /* border: 0.1rem solid goldenrod; */
}

:root {
  --black: #000;
  --white: #fff;
  --grey: #f4f4f4;
  --gold: #f1b555;
  --antique-brown: #9b281a;
}

/* basic styling */
a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.wrapper {
  max-width: 1450px;
  margin: auto;
  padding-inline: 2rem;
}

.golden-bg {
  background: var(--gold);
}

.brown-bg {
  background: var(--antique-brown);
}

img {
  max-width: 100%;
  height: auto;
}

.mt {
  margin-top: 3.5rem;
}

.p-b {
  padding-block: 3.5rem;
}

.gap {
  gap: 2rem;
}

/* Header part */
.navbar {
  height: 13vh;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-icons {
  gap: 1.5rem;
}

.icon {
  font-size: 1.1rem;
}

/* sections part */

.hero-section {
  height: calc(100vh - 13vh);
  justify-content: center;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  left: 200px;
  top: 0;
  width: 25rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  background: var(--grey);
  z-index: -1;
}

.h1-heading {
  font-size: 9rem;
  font-weight: 300;
  line-height: 100%;
}

span {
  font-weight: bold;
}

.big-para {
  font-size: 1.8rem;
  font-weight: 300;
}

.btn {
  padding: 0.7rem 2rem;
  font-size: 0.9rem;
  color: var(--white);
  text-transform: uppercase;
  border-radius: 5rem;
  display: block;
  justify-self: flex-end;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: var(--black);
}

.hero-image {
  width: 50vw;
}

/* card section*/
.h3-heading {
  font-size: 2.1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.category-card {
  flex: 1;
  background: var(--grey);
  height: 30rem;
  border-radius: 1.5rem;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.h5-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--white);
}

.simple-icon {
  font-size: 1.1rem;
  color: var(--white);
  width: 35px;
  border-radius: 5rem;
  text-align: center;
  line-height: 35px;
  transition: 0.3s ease-in-out;
}

.category-card .flex {
  position: absolute;
  bottom: 15px;
  width: 100%;
  padding-inline: 1.5rem;
}

.category-card:hover .simple-icon {
  background: var(--gold);
  transform: rotateZ(-50deg);
}

/* middle section */

.h2-heading {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 100%;
  max-width: 880px;
}

.gradient-txt {
  background: linear-gradient(90deg, var(--gold), #4e1806);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin: auto;
}

.bed-image {
  width: 75vw;
  margin-inline: auto;
  position: relative;
}
.h6-heading {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.small-para {
  font-size: 0.85rem;
  text-transform: capitalize;
  line-height: 100%;
  margin-bottom: 0.7rem;
}
.simple-icon:hover {
  scale: 1.15;
}

.price {
  color: var(--antique-brown);
}

del {
  color: var(--black);
}

.bed-details {
  background: rgba(240, 240, 240, 0.4);
  max-width: 240px;
  position: absolute;
  top: 35px;
  right: 10px;
  padding: 1.3rem;
  border-radius: 1.5rem;
  backdrop-filter: blur(10px);
}

/* another section */

.brown-txt {
  color: var(--antique-brown);
  font-weight: 400;
  margin-bottom: 1rem;
}

.avg-para {
  font-size: 1.06rem;
  color: rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
  max-width: 600px;
}

.product-card {
  flex: 1;
  flex-basis: 250px;
}

.product-image {
  height: 20rem;
  background: var(--grey);
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

small {
  font-size: 0.7rem;
  color: rgb(0, 0, 0, 0.598);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-top: 1rem;
  display: block;
}

.product-image .btn {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%);
  width: 160px;
}

.product-card:hover .product-image .btn {
  bottom: 50px;
}

.center-btn {
  justify-self: center;
}
